// importing responsive style
@import "./responsive.scss";


.layout{
    
    height: 700vh;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;

    @include sm{
        max-width: 1280px;
    }
    
    @include md{
        max-width: 768px;
    }
    
    @include lg{
        background-color: white;
        max-width: 640px;
    }

    .content{
        flex: 1;
    }
} 